[submodule "xorgen-2023"]
	path = xorgen-2023
	url = https://github.com/rbl-dot/xorgen-2023.git
[submodule "detours"]
	path = detours
	url = https://github.com/microsoft/Detours
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
